$main-font: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
$secondary-font: 'Monument Extended', Helvetica, Arial, sans-serif;

// colors
$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$main-green: #2ca67c;
$text-grey: #bfc4d0;

// lines and borders
$light-lines: #e1e1e1;
